body {
    font-family: Arial, sans-serif;
    margin: 20px;
    color: #ffffff;
    background: linear-gradient(180deg, #000000, #410202);
    background-size: 400% 400%;
    animation: gradientAnimation 15s ease infinite;
  }

  @keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .container {
    max-width: 1350px;
    margin: 0 auto;
  }
  h1, h2 {
    color: #ffffff;
    text-align: center;
  }
  .section {
    background-color: rgb(68, 0, 0);
    padding: 20px;
    margin-bottom: 15px;
    border-radius: 30px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  .rounded-image {
    display: block;
    margin: 0 auto;
    max-width: 100%;
  }
  .actor-box {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    background-color: #330000;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  .actor-box img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-right: 20px;
  }
  .actor-box .actor-info {
    max-width: 800px;
  }
  .actor-box .actor-info strong {
    display: block;
    font-size: 18px;
    color: #ffffff;
    margin-bottom: 10px;
  }
  .actor-box p {
    color: #ffffff;
    line-height: 1.5;
  }
  .rating {
    display: flex;
    gap: 5px;
    margin-top: 10px;
  }
  .star {
    width: 30px;
    height: 30px;
    background-color: #f1c40f;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    cursor: pointer;
  }
  .star.selected {
    background-color: #f39c12;
  }