body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(180deg, #000000, rgb(255, 0, 0));
  color: white;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.title-box {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 30px;
  border-radius: 15px; 
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
  display: inline-block; 
  max-width: 100%; 
  margin-top: 50px; 
}

.title-box h1 {
  font-size: 2rem;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 2px; 
} 

@media (max-width: 768px) {
  .title-box h1 {
    font-size: 1.5rem; 
    padding: 20px;
  }

  .title-box {
    padding: 20px;
  }
}



.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

h1, h2 {
  color: #ffffff;
  text-align: center;
}

.section {
  background-color: rgb(68, 0, 0);
  padding: 20px;
  margin-bottom: 15px;
  border-radius: 30px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); 
}

.actor-box {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  background-color: rgb(0, 0, 0);
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); 
}

.actor-box img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-right: 20px;
}

.actor-box .actor-info {
  max-width: 800px;
}

.actor-box .actor-info strong {
  display: block;
  font-size: 18px;
  color: #ffffff;
  margin-bottom: 10px;
}

.actor-box p {
  color: #ffffff;
  line-height: 1.5;
}

.rating {
  display: flex;
  gap: 5px;
  margin-top: 10px;
}

.star {
  width: 30px;
  height: 30px;
  background-color: #f1c40f;
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
  cursor: pointer;
  transition: transform 0.2s ease-in-out; /* Hinzugefügte Animation */
}

.star.selected {
  background-color: #f39c12;
  transform: scale(1.2); /* Vergrößerte Sterne, wenn ausgewählt */
}

@media (max-width: 768px) {
  h1 {
    font-size: 1.8rem;
  }

  .actor-box {
    flex-direction: column;
    align-items: center;
  }

  .actor-box img {
    width: 120px;
    height: 120px;
  }

  .actor-box .actor-info {
    text-align: center;
  }
}
